<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="io.github.oseongryu.app">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
      android:name=".MainApplication"
      android:label="@string/app_name"
      android:icon="@mipmap/ic_launcher_shorts_round"
      android:roundIcon="@mipmap/ic_launcher_round"
      android:allowBackup="false"
      android:theme="@style/AppTheme">
      <activity
        android:exported="true"
        android:name=".MainActivity"
        android:label="@string/app_name"
        android:configChanges="keyboard|keyboardHidden|orientation|screenSize|uiMode"
        android:launchMode="singleTask"
        android:windowSoftInputMode="adjustResize">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
      </activity>
    </application>
    <!-- https://stackoverflow.com/questions/63909770/why-youtube-player-api-does-not-work-on-android-11 -->
    <queries>
      <intent>
        <action android:name="com.google.android.youtube.api.service.START" />
      </intent>
      <package android:name="com.google.android.youtube" />
      <intent>
        <action android:name="android.intent.action.VIEW" />
        <data  android:scheme="https" android:host="youtube.com" />
    </intent>
    </queries>
</manifest>
